.wrapper {
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @include bp(medium) {
    padding-left: 0;
    padding-right: 0;
  }

  &.-main {
    padding-top: $base-space;
    padding-bottom: $base-space;
  }

  &.-index {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.main-header,
.main-footer {
  background: $c-green;
  padding: 20px 0;
  text-align: center;
}

.download {
  padding: $base-space 0;
  text-align: center;

  .button {
    margin: 0 5px;
  }
}
