.button {
  display: block;
  padding: 14px 18px;
  border: 1px solid $c-gray;
  transition: background 0.3s;
  color: $c-white;
  font-weight: 700;
  text-transform: uppercase;
  background: $c-gray;

  @include bp(medium) {
    display: inline-block;
  }

  &:hover {
    background: lighten($c-gray, 14%);
  }

  + .button {
    @include bp(medium-down) {
      margin-top: 20px;
    }
  }
}
