---
layout: default
---

<header class="main-header">
  <div class="wrapper">
    <div class="feature -index">
      <a href="https://wearefine.com" title="FINE is a Portland digital agency" class="logo" target="_blank">
        {% include icon-fine.svg %}
      </a>

      <p>We do work. Plus, we share.</p>
    </div>
  </div>
</header>

<main class="wrapper -main -index">
  <div class="project-wrapper">
    {% for page in site.pages limit:10 %}
      {% if page.title %}
        <a href="{{ page.url }}" title="{{ page.title }}" class="project-block project-logo">
          {% if page.logo %}
            {% include {{ page.logo }} %}
          {% else %}
            {{ page.title }}
          {% endif %}
        </a>
      {% endif %}
    {% endfor %}
  </div>
</main>
