---
layout: default
---

<header class="main-header">
  <div class="wrapper">
    <div class="feature -index">
      <a href="https://wearefine.com" title="FINE is a Portland digital agency" class="logo" target="_blank">
        {% include icon-fine.svg %}
      </a>

      <p>We do work. Plus, we share.</p>
    </div>
  </div>
</header>

<main class="wrapper -main -index">
  <div class="project-wrapper">
    {% for page in site.projects %}
      <a href="/{{ page.slug }}" title="{{ page.title }}" class="project-block">
        {% if page.logo == 'false' %}
          {{ page.title }}
        {% else %}
          {% include {{ page.slug }}.svg %}
        {% endif %}
      </a>
    {% endfor %}
  </div>
</main>
