<header class="main-header">
  <div class="wrapper">
    <nav>
      <a href="{{ site.github.url }}" title="FINE is a Portland digital agency" class="fine-logo">{% include icon-fine.svg %}</a>
    </nav>

    <div class="feature">
      <a href="https://github.com/{{ site.github.owner }}/{{ page.repository_slug }}" title="{{ site.title }}" class="logo">
        {% include {{ page.repository_slug }}.svg %}
      </a>

      <p>{{ page.tagline }}</p>
    </div>

    <div class="header-downloads">
      {% if page.js_download %}
        {% include download-js.html %}
      {% endif %}

      {% if page.zip_download %}
        {% include download-zip.html %}
      {% endif %}

      <a href="https://github.com/{{ site.github.owner }}/{{ page.repository_slug }}" class="button" title="View {{ page.title }} on GitHub">View on GitHub</a>
    </div>
  </div>

</header>
