{% assign slug = page.url | split: '/' %}
{% comment %}
  {% This won't allow accessors like title for whatever reason %}
  {% assign meta = site.projects | where: "slug", slug[1] %}
{% endcomment %}

{% for project in site.projects %}
  {% if project.slug == slug[1] %}
    {% assign meta = project %}
  {% endif %}
{% endfor %}

<header class="main-header">
  <div class="wrapper">
    <nav>
      <a href="{{ site.github.url }}" title="FINE is a Portland digital agency" class="fine-logo">{% include icon-fine.svg %}</a>
    </nav>

    <div class="feature">
      <a href="https://github.com/{{ site.github.owner_name }}/{{ meta.slug }}" title="{{ meta.title }}" class="logo project-logo">
        {% if meta.logo %}
          {% include {{ meta.logo }} %}
        {% else %}
          {{ meta.title }}
        {% endif %}
      </a>

      <p>{{ meta.tagline }}</p>
    </div>

    <div class="header-downloads">
      {% include buttons.html %}
    </div>
  </div>

</header>
