<header class="main-header">
  <div class="wrapper">
    <nav>
      <a href="{{ site.github.url }}" title="FINE is a Portland digital agency" class="fine-logo">{% include icon-fine.svg %}</a>
    </nav>

    <div class="feature">
      <a href="https://github.com/{{ site.github.owner_name }}/{{ page.repository_slug }}" title="{{ page.title }}" class="logo project-logo">
        {% if page.logo %}
          {% include {{ page.logo }} %}
        {% else %}
          {{ page.title }}
        {% endif %}
      </a>

      <p>{{ page.tagline }}</p>
    </div>

    <div class="header-downloads">
      {% include buttons.html %}
    </div>
  </div>

</header>
